body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container{
    width: 400px;
    padding: 20px;
    background-color: #e2e8ea;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: center;
    
}

button{
    padding: 10px 20px;
    background-color:rgb(66, 147, 182);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
}

input{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(145, 188, 202);
    color: black;
}